#carouselinicio{
    margin-bottom: 3vh;
}
#carouselinicio .carousel-inner .carousel-item img{
    height: 60vh;
}
.row{
    --bs-gutter-x: 0rem;
}
.inicio-caption{
    text-align: left;
    background-color: rgba(59, 180, 250, 0.5); 
    left: 0%;
    right: auto;
    top: 40%;
    padding: 20px;
    max-width: 45%;
    height: 27vh;
}
.inicio-caption h1{
    font-weight: 800;
    font-size: 2.2vw;
}
.presentacion-inicio p{
margin-top: 2vh;
 font-size: 20px;
}
.presentacion-inicio h3{
    font-weight: 600;
}
.br-inicio{
    display: block;
   margin: 10px 0;
   line-height:22px;
}
*{
    font-family:'Source Sans Pro', sans-serif;
}
.inicio-control{
    opacity: 0;
    width:5%;
}
.inicio-control:hover{
    opacity: 0;
}
.inicio-control:all{
    opacity: 0;
}

.carouselLink{
    padding-left:7%;
    font-weight:bolder;
    decoration:none;
}
/*large devices*/
@media only screen and (min-width: 1440px) {
    html, body {
    margin:auto!important;
    width:1440px!important;
    height:1131px!important;
    }
  }
/*small devices*/
@media only screen and (max-width: 930px){
    #carouselinicio .carousel-inner .carousel-item img{
        height: 50vh;
    }
    .inicio-caption{
        height: 28vh;
    }
    .inicio-caption h1{
        font-size: 30px;
    } 
    .inicio-caption p{
        font-size: 22px;
    } 
    .inicio-caption a{
        font-size: 22px;
    } 
}

@media only screen (min-width: 768px) and (max-width: 830px){
    #carouselinicio .carousel-inner .carousel-item img{
        height: 30vh;
    }
    .inicio-caption{
        height: 14vh;
        width:60%;
    }
    .inicio-caption h1{
        font-size: 100%;
    }
    .inicio-caption p{
        font-size: 80%;
    } 
    .inicio-caption a{
        font-size: 80%;
    } 
}


@media only screen and (max-width: 770px) {

.inicio-caption p{
    font-size: 20px;
}
.inicio-caption h1{
    font-size: 24px;
}
.inicio-caption{
    max-width: 60%;

}
.presentacion-inicio p{
    font-size: 100%;
}
.presentacion-inicio img{
    margin-left: 40px;
}

}
/*mobile devices*/
@media only screen and (max-width: 600px){
    .inicio-caption p{
        font-size: 60%;
    }
    .inicio-caption a{
        font-size: 60%;
    }
    .presentacion-inicio img{
        margin-left: 0;
    }
}

@media only screen and (max-width: 550px){
    .inicio-caption{
        height: 23vh;
    }
    .inicio-caption p{
        font-size: 80%;
    } 
}

@media only screen and (max-width: 500px){
    #carouselinicio .carousel-inner .carousel-item img{
        height: 50vh;
    }
    .inicio-caption{
        height: 25vh;
    }
    .inicio-caption p{
        font-size: 80%;
    } 
}
@media only screen and (max-width: 400px){
    .inicio-caption{
        height: 34vh;
    } 
}

@media only screen and (max-width: 380px){
    #carouselinicio .carousel-inner .carousel-item img{
        height: 60vh;
    }
    .inicio-caption{
        height: 35vh;
    }   
}

@media only screen and (max-width: 370px){
    .inicio-caption{
        height: 35vh;
    }   
}

@media only screen and (max-width: 300px){
    #carouselinicio .carousel-inner .carousel-item img{
        height: 60vh;
    }
    .inicio-caption{
        height: 35vh;
    }
    .inicio-caption h1{
        font-size: 100%;
    }
    .inicio-caption p{
        font-size: 70%;
    }
    .inicio-caption a{
        font-size: 70%;
    }
}