*{
    font-family: 'Source Sans Pro' !important;
}
@font-face {
    font-family: 'Source Sans Pro', sans-serif !important;    
    font-weight: 400;
    font-display: swap;
    src: url(../../../assets/fonts/source-sans-pro.woff2) format('woff2'); 
    unicode-range: U+1F00-1FFF;
}

.container{
    padding-top:2%;
    padding-bottom:2%
}
.grid-container{
    display: grid;
  	grid-template-columns: 50% 50%; 
    grid-template-rows: 1fr;
    margin-bottom:30px;
    padding-top:30px;
}

.item1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.item1 img{
    width: 80%;
	height: 80%;
	object-fit: contain;
}

.item2{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
.grid-container2{
    display: grid;
    grid-template-columns: 100%;  
    grid-template-rows: 25% 10% 5% 150px 10% 5%; 
    grid-row-gap: 2%;
}

.itemLogo{
    padding-top:2%;
    display:inline-flex;
    justify-content:center;

}

.itemNombre h3{
    float: left;
    color: rgb(68, 63, 63);
    font-family: Source Sans Pro,sans-serif;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    margin: 10px 0 24px;
}

.itemEnlaces p{
    color: rgb(68, 63, 63);
    font-family: Source Sans Pro,sans-serif !important;
    font-size: 20px;
    line-height: 0.2;
    font-weight: 600;
    width:100%;
    text-align:left;
}
.itemEnlaces a{
    text-decoration:none;
    color: #043a8a;
}

.itemTexto p{
    font-family: 'Source Sans Pro', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 24px !important;
    line-height: 30px !important;
    text-align:left;
    color: #54565A;
    padding-top:10px;
}
.itemTienda{
    padding-top:20px;
}
.itemTiendaNone{
    display:none;
}
.itemBoton{
    padding-top:40px;
}

.itemBoton a{
    background-color:#043a8a;
    margin-inline-start: 0.3em;
}

.alignleft{
    float: left;
    margin-inline-start: 0;
    margin-inline-end: 2em;
}

.image-668{
    width:140px !important;
    height:52px !important;
}
@media (max-width:1100px){
.item2 img{
    max-width: 100%;
}
}

@media (min-width:576px) and (max-width:990px){
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 53% 47%;
        height: 950px;  
        padding-bottom:100px;
    }
    .grid-container:nth-child(n+2){
        margin-top: 15vw;
    }
    .itemNombre{
        margin-bottom: 20vh;
    }
    .itemEnlaces p:nth-child(n+2){
        margin-top: 7vh;
    }
    .itemTexto{
        margin-top: 5vh;
    }
    .item1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .item2{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    #textoRFHE {
        padding-top: 40vh;
        padding-bottom: 10vh;
    }
    #textoEntrenaVirtual{
        padding-top: 10vh;
    }
    .item1 img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .itemTexto{
        padding-top:1%;
    }

    .itemLogo img{
        height:100px;
    }

    .itemTienda{
        padding-top:20px;
    }
    .itemBoton{
        padding-top:40px;
    }
    
    .itemNombre h3,.itemEnlaces p,.itemTexto p{
        font-size:30px;
    }
    .item2 img{
        width: fit-content !important;
    }
}

@media (max-width:575px){ 
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 53% 47%;
        height: 950px;  
        padding-bottom:100px;
    }
    .item1{
        grid-column: 1 / 2;
        grid-row: 1/1;
    }
    .item2{
        grid-column: 1 / 2;
        grid-row: 2/2;
    }

    .item1 img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .grid-container2{
        display: grid;
        grid-template-columns: 100%;  
        grid-template-rows: 10% 10% 5% 40% 10% 5%; 
        grid-row-gap: 2%;
    }
    .itemLogo{
        padding-top: 0%;
    }

    .itemLogo img{
        height:50px;
    }

    .itemTienda{
        padding-top:20px;
    }
    .itemBoton{
        padding-top:40px;
    }
    .item2 img{
        max-width: 100%;
    }

} 

@media (max-width:400px){
    .grid-container{
        height: 850px; 
        padding-top:2%; 
    }
    .grid-container2 div{
        margin-top: 5vh;
    }
    #textoRFHE{
        margin-top:35vh;
        max-width: 90%;
    }
    .item1 .item2{
        margin-bottom:30px
    }
    #textoSavso{
        margin-top:35vh;
        max-width: 100%;
    }
    #textoPella{
        margin-top:55vh;
        max-width: 100%;
    }
    #textoAxis{
        margin-top:20vh;
        max-width: 100%;
    }
    .grid-container2{
        display: grid;
        grid-template-columns: 100%;  
        grid-template-rows: 10% 10% 5% 35% 15% 10%; 
        grid-row-gap: 2%;
    }

    .itemLogo img{
        height:40px;
    }

    .itemTienda{
        padding-top:20px;
    }
    .itemBoton{
        padding-top:40px;
    }
    .item2 img{
        max-width: 100%;
    }

    .itemTexto>p{
        font-size:18px !important;
    }
}

@media (max-width:365px){
    .itemTienda{
        padding-top:0px;
    }

    .image-668 {
        width:120px !important;
    }
}

@media (max-width:300px){
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 53% 47%;
        height: 950px;  
        padding-bottom:100px;
    }

    .itemNombre>h3{
        font-size:15px !important; 
    }

    .itemTexto>p{
        font-size:15px !important;
    }

    .itemBoton>a{
        font-size:14px !important;
    }

    .image-668 {
        width:90px !important;
        height:45px !important;
    }
   
}