.parr-1{
    max-width: 100%;
    text-align: left;
    padding: 20px;
    font-size: 1.3vw;
    color: #59565a;
}
.cont-emp{
    margin-top: 3vw;
    max-width: 92%;
}
.cont-emp h4{
    font-weight: bold;
}
#main{
    margin-bottom: 8vw;
}
*{
    font-family: Source Sans Pro, !important;
  }
  @font-face {
    font-family: 'Source Sans Pro', sans-serif;    
    font-weight: 400;
    font-display: swap;
    src: url(../../../assets/fonts/source-sans-pro.woff2) format('woff2'); 
    unicode-range: U+1F00-1FFF;
    }
.emp-item{
    background-image: url('../../../assets/images/empresa/slide.png');
    background-repeat: no-repeat;
    background-size: cover; 
    height: 350px;
    text-align: center;
    padding-top: 100px;
    max-width: 90%;
    margin-left: 5%;
}
.emp-item:nth-child(n+2){
    color: #063f9b;
}

.emp-item h5{
    color: black;
}
.emp-item p{
    font-weight: 500;
    font-size: 1.4vw;
}
.emp-item:last-child{
    padding-left: 120px;
    padding-right: 120px;
}
.hero{
    max-width: 100%;
}
.hero-headline{
    font-weight: 600;
    font-size: 1.5vw;
}
/*large devices*/
@media only screen and (min-width: 1440px) {
    html, body {
    margin:auto!important;
    width:1440px!important;
    height:1131px!important;
    }
  }
/*small devices*/
@media only screen and (max-width: 920px) {
    .cab-1{
        font-size: 4vw;
    }
    .parr-1{
        font-size: 3vw;
    }
    .emp-item h5{
        font-size: 3vw;
    }
    .emp-item p{
        font-weight: 250;
        font-size: 2.2vw;
    }
}

@media only screen and (max-width: 770px) {
    .cont-emp{
        margin-top: 5vh;}
    .parr-1{
        padding: 0;
        font-size: 3vw;
    }
    .emp-item h5{
        text-align: center;
        font-size: 3vw;
    }
    .emp-item p{
        font-weight: 500;
        font-size: 2.5vw;
    }
    .emp-item:last-child{
        padding-left: 40px;
        padding-right: 40px;
    }

}

@media only screen and (max-width: 550px) {
    .emp-item p{
        font-size: 3.2vw;
    }
}

@media only screen and (max-width: 450px) {
    .parr-1{
        font-size: 4vw;
    }
    .emp-item p{
        font-size: 3.5vw;
    }
}